@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
  --mainGrey: #505253;
  --mainLightGrey: #acacac;
  --mainWhite: #ffffff;
}

a {
  color: #505253;
}

a:hover {
  color: #212529;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html p {
  font-size: 1.5em;
}

.dropdown-item:active {
  background-color: #212529;
}

.navbar {
  padding: 2em;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 3.5em;
}

.nav-item {
  position: relative;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.nav-item a {
  color: var(--mainWhite) !important;
}

.nav-item a:hover {
  color: var(--mainLightGrey) !important;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.top {
  background: #535353;
  background: linear-gradient(191deg, #535353 0%, #ebebeb 35%, white 100%);
}

.hero-img {
  -webkit-animation: fadein 2s 0.5s ease-out forwards;
          animation: fadein 2s 0.5s ease-out forwards;
  opacity: 0;
}

.hero-img img {
  margin: 3em 0 0.2em;
}

.jumbotron {
  background: #f7f7f7 !important;
}

.jumbotron span {
  font-size: 2em;
}

.card-body img {
  width: 6em;
}

.circle img {
  width: 4em;
}

.page-section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
  margin: 1.5em;
}

.page-section-main p {
  text-align: right;
}

.page-section-main h1 {
  font-size: 3.5em;
}

.page-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.page-section-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

.page-section-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120vh;
}

#support-form {
  height: 30vh;
}

#contact .form-row,
#contact .form-group {
  margin: 0 2em;
}

#contact button {
  margin: 0.5em 2em;
}

.clients {
  display: none;
}

.clients-carousel-container {
  height: 30em;
  width: 30em;
  margin: 0 auto;
  position: relative;
}

.clients-carousel-container .client {
  cursor: pointer;
  left: 50%;
  list-style: none;
  margin: 4em auto 4em;
  opacity: 0;
  padding: 1em;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(calc(100% + 12em), -50%) scale(0.6);
  transform: translate(calc(100% + 12em), -50%) scale(0.6);
  -webkit-transition: opacity 0.5s 0.6s ease-out, -webkit-transform 1.5s cubic-bezier(0.7, -0.3, 0.2, 1.3);
  transition: opacity 0.5s 0.6s ease-out, -webkit-transform 1.5s cubic-bezier(0.7, -0.3, 0.2, 1.3);
  transition: transform 1.5s cubic-bezier(0.7, -0.3, 0.2, 1.3), opacity 0.5s 0.6s ease-out;
  transition: transform 1.5s cubic-bezier(0.7, -0.3, 0.2, 1.3), opacity 0.5s 0.6s ease-out, -webkit-transform 1.5s cubic-bezier(0.7, -0.3, 0.2, 1.3);
  width: 16em;
}

.clients-carousel-container .clients-carousel {
  height: 35em;
  position: relative;
  width: 100%;
}

.clients-carousel-container .clients-carousel .client-image {
  background-size: cover;
  height: 14em;
  position: absolute;
  top: -14em;
  left: calc(50% - 3.5em);
  width: 14em;
}

.client.previous {
  opacity: 0.5;
  -webkit-transform: translate(-220%, -50%) scale(0.8);
          transform: translate(-220%, -50%) scale(0.8);
}

.client.current {
  cursor: default;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.client.next {
  opacity: 0.5;
  -webkit-transform: translate(120%, -50%) scale(0.8);
          transform: translate(120%, -50%) scale(0.8);
}

.client.left {
  -webkit-transform: translate(calc(-150%, -12em), -50%) scale(0.6);
          transform: translate(calc(-150%, -12em), -50%) scale(0.6);
}

.client-carousel-pips {
  bottom: 0;
  text-align: center;
  width: 100%;
}

.client-carousel-pips ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.client-carousel-pips .pip {
  background: #888;
  border-radius: 50%;
  border: 2px solid #555;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 0.1em;
  padding: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 0.8s cubic-bezier(0, 1, 0.3, 1);
  transition: all 0.8s cubic-bezier(0, 1, 0.3, 1);
  width: 20px;
}

.client-carousel-pips .pip.previous {
  background: #ccc;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.client-carousel-pips .pip.next {
  background: #ccc;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.client-carousel-pips .pip.current {
  background: #fff;
  cursor: default;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.client-carousel-pips .pip:not(.current):hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

form {
  max-width: 70em;
}

.success-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success-img {
  margin-right: 1.5em;
}

.footer {
  background: #414141;
  background: -webkit-gradient(linear, left bottom, left top, from(#414141), color-stop(37%, #949494), color-stop(82%, white));
  background: linear-gradient(0deg, #414141 0%, #949494 37%, white 82%);
}

#go-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 10%;
  font-size: 2em;
  cursor: pointer;
}

#go-to-top:hover {
  -webkit-transition: ease-in-out 0.8s;
  transition: ease-in-out 0.8s;
  color: #000;
  position: fixed;
  bottom: 0;
  right: 10%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.g-recaptcha {
  padding-left: 30px;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1300px) {
  .navbar-brand {
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
  }
  .page-section-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .page-section-main p {
    text-align: left;
  }
  .clients-carousel-wrapper {
    display: none;
  }
  .clients {
    display: block;
  }
  .clients-carousel-container .clients-carousel {
    height: 14em;
    position: relative;
    width: 100%;
  }
  .clients-carousel-container {
    height: 13.5em;
    width: 6.5em;
  }
  .clients-carousel-container .client {
    width: 8em;
  }
  #support-form {
    height: 55vh;
  }
  #go-to-top {
    right: 10%;
    font-size: 2em;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */