@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
:root {
  --mainGrey: #505253;
  --mainLightGrey:#acacac;
  --mainWhite: #FFFFFF;
}

a {
  color: #505253;
}

a:hover {
  color: #212529;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
}

.wrapper p {
  font-size: 1.5em;
}

.dropdown-item:active {
  background-color: #212529;
}

.navbar {
  padding: 2em;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 2.2em;
}

.nav-item {
  position: relative;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.nav-item a {
  color: var(--mainWhite) !important;
}

.nav-item a:hover {
  color: var(--mainLightGrey) !important;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.top {
  background: #535353;
  background: linear-gradient(191deg, #535353 0%, #ebebeb 35%, white 100%);
}

.hero-img {
  -webkit-animation: fadein 2s 0.5s ease-out forwards;
          animation: fadein 2s 0.5s ease-out forwards;
  opacity: 0;
}

.hero-img img {
  margin: 3em 0 0.2em;
}

.jumbotron {
  background: #f7f7f7 !important;
}

.jumbotron span {
  font-size: 2em;
}

.card-body img {
  width: 6em;
}

.circle img {
  width: 4em;
}

.page-section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
  margin: 1.5em;
}

.page-section-main p {
  text-align: right;
}

.page-section-main h1 {
  font-size: 3.5em;
}

.page-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.page-section-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

.page-section-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120vh;
}

#support-form {
  height: 30vh;
}

#contact .form-row, #contact .form-group {
  margin: 0 2em;
}

#contact button {
  margin: 0.5em 2em;
}

.success-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success-img {
  margin-right: 1.5em;
}

.footer {
  background: #414141;
  background: -webkit-gradient(linear, left bottom, left top, from(#414141), color-stop(37%, #949494), color-stop(82%, white));
  background: linear-gradient(0deg, #414141 0%, #949494 37%, white 82%);
}

#go-to-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 10%;
  font-size: 2em;
  cursor: pointer;
}

#go-to-top:hover {
  -webkit-transition: ease-in-out 0.8s;
  transition: ease-in-out 0.8s;
  color: #000;
  position: fixed;
  bottom: 0;
  right: 10%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.g-recaptcha {
  padding-left: 30px;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .page-section-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
  .page-section-main p {
    text-align: left;
  }
  #support-form {
    height: 55vh;
  }
  #go-to-top {
    right: 10%;
    font-size: 2em;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */