@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --mainGrey: #505253;
    --mainLightGrey:#acacac;
    --mainWhite: #FFFFFF;

  }

a {
    color:#505253;
}
a:hover {
    color:#212529;
    transition: all 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    overflow:hidden;
    p {
        font-size:1.5em;
    }
}

.dropdown-item:active {
    background-color:#212529 ;
}

.navbar {
    padding: 2em;
}


.navbar-brand {
    font-family: 'Lato', sans-serif;    
    font-size: 2.2em;
}

.nav-item {
    position: relative;
    // font-weight:900;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    a {
        color:var(--mainWhite) !important;
    }
    a:hover {
        color:var(--mainLightGrey) !important;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
.top {
    background: rgb(83,83,83);
    background: linear-gradient(191deg, rgba(83,83,83,1) 0%, rgba(235,235,235,1) 35%, rgba(255,255,255,1) 100%);
}

.hero-img {
    
    img {
        margin: 3em 0;
    }
}

.jumbotron {
    background: #f7f7f7 !important; 
    span {
        font-size:2em;
    }
}

.card-body img {
    width: 6em;
  }
  
  .circle img {
    width: 4em;
  }

.page-section-main {
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    justify-content: center;
    height:70vh;
    margin:1.5em;
    p {
        text-align: right;
    }
    h1 {
        font-size:3.5em;
    }
    
}


.page-section {
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:100vh;
}

.page-section-half {
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:50vh;
}

.page-section-support {
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:120vh;
}

#support-form {
    height:30vh;
}

#contact {
    .form-row, .form-group {
        margin: 0 2em;

    }
    button {
        margin:0.5em 2em;
    }
}

// Success Page 

.success-page {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.success-img {
    margin-right:1.5em;
}

.footer {
    background: rgb(65,65,65);
    background: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(148,148,148,1) 37%, rgba(255,255,255,1) 82%);
}

// Scroll to top

#go-to-top {
    display: none;
    position:fixed;
    bottom:0;
    right:2%;
    font-size:2em;
    cursor: pointer;
}

#go-to-top:hover {
    transition: ease-in-out 0.8s;
    color:#000;
    position:fixed;
    bottom:0;
    right:2%;
    transform: rotate(360deg);

}

// Google Captcha

.g-recaptcha {
    padding-left:30px;
}

@media screen and (max-width: 500px) {

.page-section-main {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        height:100vh;
        p {
            text-align: center;
        }

}

#support-form {
    height:55vh;
}

#go-to-top {
    right:10%;
    font-size:2em;
    cursor: pointer;
}

}